


<!-- Aca llamamos el partial creado head -->
{{> head }}


<body>

    <!-- Aca llamamos el partial creado navbar -->
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Prueba</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque sit molestias numquam ex pariatur consequuntur voluptas beatae, amet debitis accusantium. Officiis totam voluptatum numquam quia doloribus error ducimus quos harum?</p>
        </div>


        <div class="col-4">

            <img src="assets/img/Captura.PNG" alt="imagen" class="img-thumbnail" >
        </div>

    </div>


    {{> footer}}